<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Eat Da Burger</h1>
    <p class="lead">All your eating wants and needs. None of the calories.</p>
  </div>
</div>
<br>
<div class="container">
<h2>Burgers Ordered... yum yum</h2>
<ul style="list-style-type:square">
  {{#each burgers}}
    {{#unless devoured}}
    <li class="lead">
      {{burger_name}}
      <button class="devour-btn btn btn-secondary btn-sm" id="{{id}}">eat now</button>
    </li>
    {{/unless}}
  {{/each}}
</ul>

<br><br>

<h2>Burgers Eaten</h2>
<ul style="list-style-type:square">
  {{#each burgers}}
    {{#if devoured}}
    <li class="lead">
      {{burger_name}}
    </li>
    {{/if}}
  {{/each}}
</ul>
<br><br>

<h2>Order a Burger Here:</h2>
<form class="create-form" id="add-order">

  <div class="form-group">
    <textarea class="form-control" id="order-text" rows="3" name="order" placeholder="ex: cheeseburger with no lettuce"></textarea>
  </div>
<input type="submit" value="Order Now" class="btn btn-success btn-lg" style="float: right">
</form>
</div>