<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Eat Da Burger</h1>
    <p class="lead">All your eating wants and needs. None of the calories.</p>
  </div>
</div>

<div class="container">
<h5 class="font-weight-bold">BURGERS ORDERED</h5>
<ul style="list-style-type:square">
  {{#each burgers}}
    {{#unless devoured}}
    <li>
      <p>{{burger_name}}   
      <button class="devour-btn btn btn-secondary btn-sm" id="{{id}}">eat now</button></p>
    </li>
    {{/unless}}
  {{/each}}
</ul>

<br><br>

<h5 class="font-weight-bold">BURGERS EATEN.. YUMMM</h5>
<ul style="list-style-type:square">
  {{#each burgers}}
    {{#if devoured}}
    <li>
      <p>{{burger_name}}</p>
    </li>
    {{/if}}
  {{/each}}
</ul>
<br><br>

<h5 class="font-weight-bold">ORDER HERE</h5>
<form class="create-form" id="add-order">

  <div class="form-group">
    <textarea class="form-control" id="order-text" rows="3" name="order" placeholder="ex: cheeseburger with no lettuce"></textarea>
  </div>
<input type="submit" value="Order Now" class="btn btn-success btn-lg" style="float: right">
</form>
</div>

<br><br><br><br>